MODEL_PATH=../ML Model/model/promptguard_model.pkl
VECTORIZER_PATH=../ML Model/model/tfidf_vectorizer.pkl
MAX_PROMPT_LENGTH=2000
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5000,http://127.0.0.1:5000